<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="pastaOrigem" value="\\ssp05\publico$\raphael.sena\origem"/>
    <add key="pastaDestino" value="\\ssp05\publico$\raphael.sena\destino"/>
    <add key="extensao" value="*.txt"/>
    <add key="data" value="2019-03-29"/>
  </appSettings>
</configuration>
